 ### Markdown Basics
 
 * **Bold** 
 * *Italatic* 
 * ***IB***
 * Normal Text
   * Sublist 1
   * Sublist 2

 
 1. Orderd list element 1 
 2. Oredred list element 2 
 
 
 - [ ] Option 1 
 - [.] Option 2 
 - [x] Option 3 
 
 I get 10 times more traffic from [Google][1] than from
[Yahoo][2] or [MSN][3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"
 
 
 'printf("hello Markdown")'
 
http://google.com


mark@gmail.com
 
[ Jupyter Logo. ](Jupyterlogo.png)  
 
 <img src="Jupyterlogo.png" style="float:left" height="1000" width="500">

 ### Python Basics
 
 Python Version 3.7
 
 - Scripting
 - Object Oriented
 - Functional

In [12]:
# Python Comments

print("Good Afternoon","!", end=" || ") # Basic Output
print("Hello Python")

Good Afternoon ! || Hello Python

 ### Assignment

In [41]:
n1 = 123456  # Singlr Variable Assignment 

n2 = n3 = n4 = n1 # Multi Variable Assignment of the same number 

a,b,c = 123,234,345 # Multi Variable Assignment
a
print(a,b,c)

123 234 345

### Data Types & Conversions

- int
- float
- string

In [35]:
type(a)
s1="python"
type(s1)

f1 = 12.345
type(f1)

float(str(int(f1)))

12.0

### Arithmatic Operations

- +
- -
- *
- /
- %
- **

In [27]:
n1 % 11

n3 = n2 ** 123456

type(n3)
len(str(n3))
n3

atoms = 10 ** 82
len(str(atoms))
type(str(atoms))

str

### Conditionals

In [46]:
if atoms < 10 ** 96:
    print("TRUE")
else:
    print("FALSE")

TRUE

In [2]:
# Check if a number is Even

n = 123
if n % 2 == 0:
    print ("Even")
else:
    print("Odd")

Odd

In [1]:
  # Find the greatest of 3 numbers

n1 = int(input("Enter the First number"))
n2 = int(input("Enter the Second number"))
n3 = int(input("Enter the Third number"))

if n1 > n2 and n1 > n3:
    print(n1, "is the greatest")
elif n2 > n3:
    print(n2, "is the greatest")
else:
    print(n3, "is the greatest")

Enter the First number12
Enter the Second number40
Enter the Third number23
40 is the greatest

In [13]:
# Check if a year is a Leap Year  
a = int(input("Enter a year"))

if a % 400 == 0 or (a % 4 == 0 and a % 100 != 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter a year2018
Not a Leap Year

In [14]:
# Check if a number exists in a range

n = int(input("Enter a number"))
ub = int(input("Enter Upper Boundary"))
lb = int(input("Enter Lower Boundary"))
if n <= ub and n >= lb:
         print("The given number is in given range")
else:
         print("The given number is not in given range")

Enter a number34
Enter Upper Boundary12
Enter Lower Boundary1
The given number is not in given range

In [15]:
# Calculate the number of digits in a number
n = int(input("Enter a number"))
print(len(str(n)))

Enter a number12345
5

In [16]:
# Check if a number is multiple of 10

n = int(input("Enter a number"))
if (n % 10 == 0):
    print(n, " is a multiple of 10 ")
else:
    print(n, "not multiple of 10")

Eneter a number12
12 not multiple of 10

In [2]:
# Check if a number is a Factor of 1000

n = int(input("Eneter a number"))
if (1000 % n == 0):
    print(n, " is factor of 10 ")
else:
    print(n, "not factor of 10")

Eneter a number20
20  is factor of 10

In [4]:
# Check if given string is equal to a number

s1 = "Python"
n1 = 123456
if str(n1)== s1:
    print(n1, "is equal to", s1)
else:
    print(n1, "is not equal to", s1)

123456 is not equal to Python

In [17]:
# Calculate the square root of a number without using math functions
n1 = 123
n ** 0.5

3.4641016151377544

In [5]:
# calculate the number of nano seconds in a given year(considering leap year logic)
a = 2016

if a % 400 == 0 or (a % 4 == 0 and a % 100 != 0):
    print(366 * 24 * 60 * 60 * (10 ** 9))
else:
    print(365 * 24 * 60 * 60 * (10 ** 9))

31622400000000000