In [2]:
c = 0
c = 5 / 2
print (c)

2.5

In [7]:
c = 'a'
type(c)
a = 0
type(a)
b = 0.0
type(b)

float

In [15]:
name, rollno, age = 'python', 123, 23.5
print(type(name), type(rollno), type(age))

<class 'str'> <class 'int'> <class 'float'>

In [18]:
a, b = 10, 20
print(a,b)
a, b = b, a
print(a ,b)

10 20
20 10

In [19]:
2 ** 5

32

In [20]:
pow(2,5)

32

In [1]:
5 in [1,2,3,4]

# in and not in are Membership Operator

False

In [2]:
5 not in [1,2,3,4]

True

In [3]:
5 is 5

True

In [4]:
5 is 10

# is and is not are Identity Operators

False

In [5]:
5 is not 5

False

In [6]:
5 is not 10

True

In [7]:
'abc' is 'abc'

True

In [8]:
'abc' is not 'abc'

False

In [12]:
# Conditional and Control Statements

if (5 < 6):
    print("True")
elif(6 < 7):
    print("True")
else:
    print("Flase")

True

In [13]:
range(10)    # Starts with 0 and value-1(10-1) means index 0 to 9

range(0, 10)

In [14]:
range(2,10,2)

range(2, 10, 2)

In [17]:
# for loop

for i in range(2,10,2):
    print (i, end = " ")

2 4 6 8

In [1]:
# while loop

num = 1
while( num < 6):
    print(num)
    num = num + 1

1
2
3
4
5

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [4]:
for i in 1,2,3,4,5:
    print(i)

1
2
3
4
5

In [3]:
for i in range(10,4,-1):
    print(i)

10
9
8
7
6
5

In [5]:
for i in 1,2:
    print(i)

1
2

In [6]:
for i in "hiii":
    print(i)

h
i
i
i

In [7]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [19]:
print(1,2, sep =",",end = "*")
print(3, sep =";")

1,2*3

In [25]:
n = int(input("Enter a value:"))
print(n,type(n))

Enter a value:10
10 <class 'int'>

In [23]:
n = input("Enter a value:")
print(n,type(n))

Enter a value:12.3
12.3 <class 'str'>

In [36]:
1 + int ("2")

3

In [34]:
1+int(2)

3

In [40]:
l = [1,10,20]
l[1]

10

In [62]:
data = input()# 1 2 3 4 5
count = 0
for i in data.split(" "):
    count = count + 1
print(count)

1 2 3 4 5
5

In [73]:
data.split(" ")

['1', '2', '3', '4', '5']

In [64]:
data = input()
len(data.split())

1 2 3 4 5

5

In [66]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [25]:
n = input()
summ = 0
for i in n.split(","):
    summ = summ + int(i)
print(summ)

1,2,3,4,5
15

In [7]:
data = input()
values = data.split(",")
s = 0
for value in values:
    s = s + int(value)
print(s)

1,2,3,4,5
15

In [ ]:
# map(method_name,list_of_values)
# map was used to converted to integer
# Minimum two values

In [26]:
data = input()
values = data.split(",")
int_values = list(map(int,values))
sum(int_values)

1,2,3,4,5

15

In [23]:
del sum

In [13]:
l = ['1','2','3']
r = []
for value in l:
    r.append(int(value))
print(r)

[1, 2, 3]

In [46]:
n = input()
s = n.split("+")
for i in s:
    print(min(s))
    print(max(s))
    break

1+2+3
1
3

In [37]:
n = int(input())
#data = input()
#s = data.split("+")
for j in range(0,n):
    data = input()
    s = data.split("+")
    for i in s:
        print(min(s))
        print(max(s))
        break

3
5+7
5
7
10+77+0
0
77
4+6+2
2
6

In [11]:
# Reverse of digits 123 -> 3
#                          2
#                          1

text = input()
reverse_text = text[::-1]
#print(reverse_text)
for i in reverse_text:
    print(i)

123
3
2
1

In [12]:
[print(i) for i in input()[::-1]]

123
3
2
1

[None, None, None]

In [13]:
a = [print(i) for i in input()[::-1]]

123
3
2
1

In [15]:
# Bhagyalakshmi Cheeli -> C. Bhagyalakshmi

f_lname = input()
lname,fname = f_lname.split(" ")[::-1]
print(lname[0],fname,sep=". ")

Bhagyalakshmi Cheeli
C. Bhagyalakshmi

In [21]:
# 90 80 100
marks = input()
marks_list = list(map(int,marks.split()))
print(sum(marks_list)//len(marks_list))

90 80 100
90